{% extends "base.html" %}

{% block content %}


    {% if alert %}
        {% include "display/alert.html" %}
    {% endif %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Reddit Clone</h1>
            <p>Post your craziest ideas here!</p>
            <p><a class="btn btn-primary btn-lg" href="{% url 'posts:create' %}" role="button">Create a Post &raquo;</a>
            </p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="alert-list"></div>


        <div class="row">

            {% for post in posts %}

                <div class="col-md-4">
                    <h2 data-post-id="{{ post.id }}" data-post-csrf="{{ csrf_token }}"><a href="#" class="downvote">
                        < </a> <span class="votes-total">{{ post.votes_total }} </span><a
                            href="#" class="upvote"> > </a>
                        - {{ post.title }}</h2>
                    <p>{{ post.description }} </p>
                    <p>URL: {{ post.url }} </p>
                    <p>Published in {{ post.pub_date }} by <strong>{{ post.author.username }}</strong></p>
                    <p><a class="btn btn-secondary" href="{% url 'posts:show' post.id %}" role="button">View details
                        &raquo;</a></p>
                </div>

            {% endfor %}

            {#            <div class="col-md-4">#}
            {#                <h2>Heading</h2>#}
            {#                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor#}
            {#                    mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna#}
            {#                    mollis euismod. Donec sed odio dui. </p>#}
            {#                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>#}
            {#            </div>#}
            {#            <div class="col-md-4">#}
            {#                <h2>Heading</h2>#}
            {#                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula#}
            {#                    porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,#}
            {#                    ut fermentum massa justo sit amet risus.</p>#}
            {#                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>#}
            {#            </div>#}
        </div>

        <hr>

    </div> <!-- /container -->


{% endblock %}

